@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-rosewater: #f5e0dc;
  --color-mauve: #cba6f7;
  --color-text: #cdd6f4;
  --color-basee: #1e1e2e;
  --color-mantle: #181825;

  --font-display: "Sour Gummy", sans-serif;
}

@layer components {
  .btn {
    background-color: #cba6f7;
    color: #1e1e2e;
    padding: 0.125rem 0.5rem;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
  }
}

@layer utility {
  .prose a:hover {
    text-decoration: underline;
  }

  .prose {
    color: #cdd6f4;
    max-width: 100%;

    & :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)),
    & :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)),
    & :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      color: #cdd6f4;
      margin-top: 1rem;
    }

    & :where(code):not(:where(pre > code)) {
      color: #cdd6f4;
      background-color: #313244;
      @apply rounded px-1;

      &::after,
      &::before {
        content: none;
      }
    }

    h1,
    h2,
    h3 {
      font-weight: inherit;
    }

    h1 {
      @apply text-xl;
    }
    h2 {
      @apply text-lg;
    }
    h3 {
      @apply text-base;
    }

    p {
      margin: 1rem 0;
    }

    img {
      margin-top: 1rem;
      margin-bottom: 0;
      @apply rounded;
    }

    a {
      text-decoration: none;
      color: #cba6f7;
    }
  }
}
