@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MapleMono";
  src: url("/public/fonts/MapleMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MapleMono";
  src: url("/public/fonts/MapleMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MapleMono";
  src: url("/fonts/MapleMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "MapleMono";
  src: url("/fonts/MapleMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MapleMono";
  src: url("/fonts/MapleMono-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "MapleMono";
  src: url("/fonts/MapleMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: "MapleMono";
  @apply text-text;
}

body {
  @apply bg-base;
}
